// Import Fonts
@font-face {
  font-family: "Righteous";
  src: url("/font/Righteous-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Outfit";
  src: url("/font/Outfit-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Alata";
  src: url("/font/Alata-Regular.ttf") format("truetype");
}

// Text styles
h1 {
  margin: 0;
  font-size: 4.5rem;
  margin-bottom: 2rem;
  font-weight: 300;
}

h2 {
  text-transform: uppercase;
  color: var(--yellow);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

p {
  font-size: 1rem;
  font-family: "Outfit", "Roboto", sans-serif;
  color: var(--white);
}
